.git
.github
.gitignore
.env
__pycache__
*.py[cod]
*.egg-info
*.log
.DS_Store
Thumbs.db
.idea
.vscode
build
dist
.eggs
htmlcov
.coverage
.cache
.pytest_cache
*.tgz
*.tar
*.gz
*.zip
node_modules
examples
tests
compose
Dockerfile
